configure-section-form-items-name: "jméno v DB"
configure-section-form-items-name-required: "jméno je povinné"
configure-section-form-items-alias: "alias názvu"
configure-section-form-items-defaultvalue: "prázdná hodnota"
configure-section-form-items-request: "request hodnota"
configure-section-form-items-required: "text povinné položky"
configure-section-form-items-hint: "plovoucí nápověda"
configure-section-form-items-show: "zobrazit v"
configure-section-form-items-readonly: "jen pro čtení"
configure-section-form-items-omit: "neodesilat hodnotu formulářem"
configure-section-form-items-ordering: "řazení sloupce"
configure-section-form-items-orderdefault: "řadit defaultně"
configure-section-form-items-orderposition: "pořadí řazení"
configure-section-form-items-fk: "název FK"
configure-section-form-items-fk-prompt: "--- vybrat sloupec ---"
configure-section-form-items-prompt: "prompt pro NULL hodnotu"
configure-section-form-items-preview: "maska pro select"
configure-section-form-items-fkid: "skupinovat výpis podle M: vazby"
configure-section-form-items-fkidnullable: "umožnit vybírat NULL hodnotu"
configure-section-form-items-fkidfirst: "použít první položku místo ''prázdné hodnoty''"
configure-section-form-items-foreign: "název cizího FK"
configure-section-form-items-foreign-prompt: "--- vybrat FK ---"

configure-section-form-items-foreign-need-reload: "je nutno nastavit a jeste jednou ulozit pro nacteni dat"

configure-section-form-items-truncate: "zkracování"
configure-section-form-items-textformat: "výstupní textový formát"
configure-section-form-items-format: "výstupní formát"
configure-section-form-items-placeholder: "placeholder"

configure-section-form-items-type-text: "element text"
configure-section-form-items-type-textarea: "element textarea"
configure-section-form-items-type-hide: "element hide"
configure-section-form-items-type-label: "element label"
configure-section-form-items-type-date: "element date"
configure-section-form-items-type-time: "element time"
configure-section-form-items-type-datetime: "element datetime"
configure-section-form-items-type-checkbox: "checkbox"
configure-section-form-items-type-fkselect: "FK select"
configure-section-form-items-type-foreigntext: "text cizi tabulky podle FK"
configure-section-form-items-type-foreignselect: "select z cizi tabulky podle FK"
configure-section-form-items-type-foreignfkpk: "FK ID (:N)"
configure-section-form-items-type-foreignfkwhere: "FK WHERE (M:)"
